@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}


.info-table{
	display: flex;
	flex-direction: column;
}

#study_area_filter{
	width: 50vw;
	padding: 10px;
	height: 3vh;
	margin: 1.2rem auto .5rem;
	border-radius: 20px;
	outline: none;
	border: 1px solid #a6a6a6;
	text-align: center;
}

#search{
	width: 30vw;
	margin: .7rem auto;
	padding: 10px;
	background-color: #005577;
	color: #f8f8f8;
	font-weight: bold;
	border: 1px solid #005577;
	border-radius: 20px;
	cursor: pointer;
}


.info-table > table{
	padding: 3rem;
	margin: auto;
}

.title{
	margin: 2rem 0 .5rem;
	text-align: center;
	font-weight: bold;
	color: #005577;
}

th{
	color: #005577;
	text-transform: uppercase;
}


th, td{
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	vertical-align: center;
}

