<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../assets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="form-wrapper">
					<h1 class="title">Professors Login</h1>
			<div class="form-area">
				<form method="POST" action="">
					<label>Nickname</label><br>
					<input type="text" name="user_nickname" value=""><br>
					<br>
					<label>Password</label><br>
					<input type="password" name="user_passkey" value=""><br>
					<input class="form-button" type="submit" value="Login"></input>
					<script src="../scripts/route_navigation.js"></script>
				</form>	
			</div>
		</div>
		<div class="info">
			<p>Doesn't have an account?<p>
			<button id="redirect" class="goto-button" data-route="/signup">Signup</button>
		</div>
			<script src="../scripts/route_navigation.js"></script>
	</body>
</html>
