<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1>Professors Sign Up</h1>
		<form method="POST" action="">
			<input type="text" name="user_nickname" value="" placeholder="Create a nickname"><br>
			<input type="password" name="user_passkey" value="" placeholder="Create a strong password"><br>
			<input type="submit" value="Submit">
		</form>
		<p>Already have an account?<br>
		<button onclick="redirect_to_route('/')">Login</button>
		<script src="../scripts/route_navigation.js"></script>
	</body>
</html>
