<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../assets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="form-wrapper">
		<h1 class="title">Professors Sign Up</h1>
			<div class="form-area">
				<form method="POST" action="">
					<label>Nickname</label><br>
					<input type="text" name="user_nickname" value="" placeholder="Create a nickname"><br>
					<label>Password</label><br>
					<input type="password" name="user_passkey" value="" placeholder="Create a strong password"><br>
					<input class="form-button" type="submit" value="Submit">
				</form>
			</div>
		</div>
		<div class="info">
			<p>Already have an account?<br>
			<button id="redirect" class="goto-button" data-route="/login">Login</button>
		</div>
		<script src="../scripts/route_navigation.js"></script>
	</body>
</html>
